<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.forever-newung.alfredadinfo</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2B5992DF-782D-4CE4-92F1-3AA73BCBE5AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC632585-FBB3-46E5-B0E2-B2773DC66FF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC632585-FBB3-46E5-B0E2-B2773DC66FF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77B56BED-3443-4C92-A01D-650C17B2679E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jerome</string>
	<key>description</key>
	<string>Get Active Directory Info</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AD Info</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ad</string>
				<key>subtext</key>
				<string>give me an email or samaccount!</string>
				<key>text</key>
				<string>Active Directory Info</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2B5992DF-782D-4CE4-92F1-3AA73BCBE5AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>77B56BED-3443-4C92-A01D-650C17B2679E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./gather_info.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC632585-FBB3-46E5-B0E2-B2773DC66FF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2B5992DF-782D-4CE4-92F1-3AA73BCBE5AA</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>77B56BED-3443-4C92-A01D-650C17B2679E</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>AC632585-FBB3-46E5-B0E2-B2773DC66FF2</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/forever-newung/alfredadinfo</string>
</dict>
</plist>
