<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.forever-newung.alfredadinfo</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0FF35FF2-AE99-4512-B624-513974C8EBB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77B56BED-3443-4C92-A01D-650C17B2679E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA3A36A0-3002-46CB-ACC6-4CB73C0E8842</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jerome</string>
	<key>description</key>
	<string>Get Active Directory Info</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AD Info</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>77B56BED-3443-4C92-A01D-650C17B2679E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ad</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>QUERYING ACTIVE DIRECTORY - - PLEASE WAIT</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>gather_info.sh</string>
				<key>subtext</key>
				<string>SAMAccount or Email, please</string>
				<key>title</key>
				<string>AD Info Grabber</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0FF35FF2-AE99-4512-B624-513974C8EBB6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BA3A36A0-3002-46CB-ACC6-4CB73C0E8842</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>clipboard, notification</string>
				<key>title</key>
				<string>Choose Output</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D1336C5D-0903-4179-8486-44B6601AD7C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>To Configure, set the Workflow Environment Variable "ADDOMAIN" to your AD domain name. 

You can find the AD Domain by running 'dscl' on the command line, and then 'cd Active\ Directory' then 'ls'

~~~~</string>
	<key>uidata</key>
	<dict>
		<key>0FF35FF2-AE99-4512-B624-513974C8EBB6</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>77B56BED-3443-4C92-A01D-650C17B2679E</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>BA3A36A0-3002-46CB-ACC6-4CB73C0E8842</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>D1336C5D-0903-4179-8486-44B6601AD7C1</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ADDOMAIN</key>
		<string>PAYPALCORP</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>ADDOMAIN</string>
	</array>
	<key>version</key>
	<string>0.0.1.2</string>
	<key>webaddress</key>
	<string>https://github.com/forever-newung/alfredadinfo</string>
</dict>
</plist>
